{% extends '@App/generic_error_layout.html.twig' %}
{% block errorDetails %}
    <h3>Oops! </h3>
    <p>
        Sorry, you don't have enough privilege to access this page .<br />
        <a href="/">Return home</a>
    </p>
{% endblock %}

