{% extends '@App/generic_error_layout.html.twig' %}
{% set status_css = 500 %}
{% block errorDetails %}
    <h3>Oops!  Something went wrong.</h3>
    <p>
        We are fixing it!<br />
        Please come back in a while or try to reload the page.<br /><br />
    </p>
{% endblock %}
