{% extends "@Personnel/Default/base_list_page.html.twig" %}
 {% block action_block %}
     {% if is_granted('ROLE_DASB_CLERK') or is_granted('ROLE_WELFARE_CLERK') %}
         <a class="btn green" href="{{ createLink }}"><i class="fa fa-plus"></i> Create
             New {{ pageTitle }}</a>
     {% endif %}
 {% endblock %}