{% extends '@App/report-base.html.twig' %}

{%- block page_size %}A4-L{%- endblock  %}

{% block page_header_footer %}
    <sethtmlpageheader name="firstPageHeader" value="on" />
    <htmlpageheader name="firstPageHeader">
        <table class="width-100">
            <tr>
                <td class="width-33"></td>
                <td class="width-33 text-center">সীমিত</td>
                <td class="width-33 text-right"></td>
            </tr>
        </table>
    </htmlpageheader>

    <htmlpageheader name="everyPageHeader">
        <div style="text-align:center">সীমিত</div>
    </htmlpageheader>
    <htmlpagefooter name="everyPageFooter">
        <div style="text-align:center">{PAGENO}<br>সীমিত</div>
    </htmlpagefooter>
{% endblock %}

{% block report_header %}
    <div class="text-center font-size-13 margin-bottom-10">
        <h2>ফরম-৩</h2>
        অধিদপ্তর/সংস্থার প্রাথমিক ব্যয় প্রাক্কলন ও প্রক্ষেপণ<br>
        মন্ত্রণালয় / বিভাগ................প্রতিরক্ষা মন্ত্রণালয় ................. <br>
        অধিদপ্তর/সংস্থার ................. বি এ এস বি ............................
    </div>

{% endblock %}

{% block report_body %}

    <div id="pdf-report-page">
        {% include '@Budget/Report/_budget-request-form-3-body.html.twig' %}
    </div>
{% endblock %}